body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #canvas-container {
    position: absolute;
    top: 1px; /* Adjust the position on the page */
    left: 1100px; /* Adjust the position on the page */
    width: 300px; /* Adjust the size of the container */
    height: 300px; /* Adjust the size of the container */
    overflow: hidden;
}

canvas {
    display: block;
}

body {
  background-image: url('modulo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
  
header {
  background-color: rgba(119,255,0,0.3);
  color: #00FF00;
  padding: 0px;
}

      /* Style for the h1 element */
      h1 {
        font-size: 80px; /* Adjust the font size as needed */
        text-align: center; /* Center the text horizontally */
      }
  

.my-box {
  background-color: rgba(255, 255, 255, 0.5); /* Set the background color with 50% opacity */
  padding: 20px; /* Add some padding around the content */
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 40px;
  }


  
  footer {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
  }


