body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #canvas-container {
    position: absolute;
    top: 100px; /* Adjust the position on the page */
    left: 1100px; /* Adjust the position on the page */
    width: 300px; /* Adjust the size of the container */
    height: 300px; /* Adjust the size of the container */
    overflow: hidden;
}

canvas {
    display: block;
}
  
  header {
    background-color: #77FF00;
    color: #00FF00;
    padding: 50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 40px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }


